 .box {
     border: 1px dashed red;
     padding: 50px;
     display: inline-block;
 }

 label {
     display: block;
     margin-bottom: 5px;
     font-weight: bold;
 }

 input[type="text"],
 select {
     width: 100%;
     padding: 5px;
     margin-bottom: 10px;
 }

 .gender-label {
     display: inline-block;
     margin-right: 10px;
 }

 input[type="checkbox"] {
     margin-right: 5px;
 }

 button {
     padding: 10px 20px;
     background-color: #007bff;
     color: #fff;
     border: none;
     cursor: pointer;
 }

 .nome {
     display: flex;
     align-items: center;
     margin-bottom: 10px;
 }

 .nome label {
     margin-right: 10px;
 }

 .estadoCivil {
     display: flex;

 }